[submodule "src/dependencies/orix-sdk"]
	path = src/dependencies/orix-sdk
	url = https://github.com/assinie/orix-sdk.git
[submodule "src/dependencies/kernel"]
	path = src/dependencies/kernel
	url = https://github.com/orix-software/kernel.git
